{% load static %}


<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sign Up / Register</title>
  <link rel="stylesheet" href="{% static 'css/login.css' %}">
</head>

<body>
  <div class="blank" id="first"></div>
  <div class="container">
    <center>
      <h2>Sign Up</h2>
    </center>

    <form method="post">
      <hr>
      {% csrf_token %}
      {{ form.as_p }}
      <hr>
      <center><button type="submit">Sign Up</button>
      </center>
      <p>Old User?<a id="signin" href=""> Sign In</a></p>
    </form>
  </div>
  <div class="blank"></div>
  <div class="blank"></div>
</body>

</html>